[MASTER]

ignore=CVS
jobs=1
persistent=yes

[MESSAGES CONTROL]

# bad-continuation clashes with black
disable=missing-docstring,fixme,bad-continuation

[BASIC]

good-names=e,ex,f,fp,i,j,k,n,_

[FORMAT]

indent-string='    '
max-line-length=88
