[MASTER]

ignore=CVS
jobs=1
persistent=yes

[MESSAGES CONTROL]

# bad-continuation clashes with black
# duplicate-code finds dupes between tests and plugins and is annoying to override
disable=missing-docstring,fixme,bad-continuation,duplicate-code,W0621

[BASIC]

good-names=e,ex,f,fp,i,j,k,n,_

[FORMAT]

indent-string='    '
max-line-length=88
