[MASTER]

ignore=CVS
jobs=1
persistent=yes

[MESSAGES CONTROL]

# bad-continuation clashes with black
disable=missing-docstring,fixme,bad-continuation

[BASIC]

good-names=e,ex,f,fp,i,j,k,n,_

[FORMAT]

indent-string='    '
max-line-length=88

# pylint complains about overly long names: https://github.com/PyCQA/pylint/issues/2047
function-rgx=(([a-z_][a-z0-9_]{2,})|(_[a-z0-9_]*)|(__[a-z][a-z0-9_]+__))$
