# better interactive session, debugger
ipython>=8.0.0
ipdb>=0.13

# testing tools
pylint==3.0.1
coverage>=7.3.2
pytest>=7.4.2
pytest-cov>=4.1.0
pytest-random-order>=1.1.0
hypothesis>=6.87.1
pytest-localserver>=0.8.0

# commit hooks
pre-commit>=3.4.0

# packaging
twine>=4.0.2
